{% extends 'base.html' %}
{% load static %}

{% block body %}


<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
    </div>
    <img src="{{ blog.img.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">{{ blog.description.html|safe }}</p>
        <p class="card-text"><small class="text-muted">Date: {{ blog.created_at }}</small></p>
        <p class="card-text"><small class="text-muted">User: {{ blog.author.username }}</small></p>
        <p class="card-text"><small class="text-muted">Views: {{ blog.views }}</small></p>
        <p class="card-text">
            <small class="text-muted">
                {% for tag in blog.tags.all %}
                <span><a href="{% url 'blog_tags' tag.slug %}">{{ tag.name }}</a></span>
                {% endfor %}
            </small>
        </p>
        <p>
            {% if blog.author.username == user.username %}
            <a href="{% url 'blog_update' blog.slug %}">Update</a>
            <a href="{% url 'blog_delete' blog.slug %}">Delete</a>
            {% endif %}
        </p>
    </div>
</div>


<h1>Comments</h1>
{% for comment in blog.comment_set.all %}
<p>{{ comment.text }}</p>
<p>Date: {{ comment.created_at }}</p>
<p>User: {{ comment.user }}</p>
<hr>
{% endfor %}

<hr>

{% if user.username %}
<h1>Comment Add</h1>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                   {{ form.text }}
            </div>
            <button type="submit" class="btn btn-primary">Comment add</button>
        </form>
    </div>
</div>
{% else %}
<h1>Comment Add</h1>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                   {{ form.text }}
            </div>
            <a href="{% url 'login' %}" class="btn btn-primary">Comment add</a>
        </form>
    </div>
</div>
{% endif %}


{% endblock %}


{% block right %}
<ul class="list-group">
    <li class="list-group-item">Category</li>
    <li class="list-group-item"><a href="{% url 'blog_list' %}">All</a></li>
    {% for category in categories %}
    <li class="list-group-item"><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
    {% endfor %}

</ul>
<br>
<br>
<br>
<ul class="list-group">
    <li class="list-group-item">Blog <span style="color: red">{{ blog.author }}</span> ga tegishli bloglar</li>
    {% for blog_author in blogs_author %}
    {% if blog_author.title != blog.title %}
    <li class="list-group-item"><a href="{% url 'blog_detail' blog_author.slug %}">{{ blog_author.title }}</a></li>
    {% endif %}
    {% endfor %}

</ul>

<br>
<br>
<br>
<h3>Tags all</h3>
{% for tag in tags %}
<span><a href="{% url 'blog_tags' tag.slug %}">{{ tag.name }}</a></span>
{% endfor %}


{% endblock %}


