{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ category.img.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></h5>
        <p class="card-text"> {{ category.description }}</p>
        <p class="card-text"><small class="text-muted">Blog soni: {{ category.blog_set.count }}</small></p>
      </div>
    </div>
  </div>
</div>
<h3>{{ category.name }} ga tegishli bloglar</h3>
{% for blog in blogs %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h5>
    </div>
    <img src="{{ blog.img.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">{{ blog.description.html|safe |truncatewords:40 }}</p>
        <p class="card-text"><small class="text-muted">Date: {{ blog.created_at }}</small></p>
        <p class="card-text"><small class="text-muted">User: {{ blog.author.username }}</small></p>
        <p class="card-text"><small class="text-muted">Views: {{ blog.views }}</small></p>
        <p class="card-text">
            <small class="text-muted">
                {% for tag in blog.tags.all %}
                <span><a href="{% url 'blog_tags' tag.slug %}">{{ tag.name }}</a></span>
                {% endfor %}
            </small></p>
    </div>
</div>
{% endfor %}

{% endblock %}


{% block right %}

<ul class="list-group">
    <li class="list-group-item">Category</li>
    <li class="list-group-item"><a href="{% url 'blog_list' %}">All</a></li>
    {% for category in categories %}
    <li class="list-group-item"><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
    {% endfor %}

</ul>

<br>
<br>
<br>
<ul class="list-group">
    <li class="list-group-item">Top <span style="color: red"> {{ category.name }}</span></span> Blogs</li>
    {% for blog_top in blogs_top %}
    <li class="list-group-item"><a href="{% url 'blog_detail' blog_top.slug %}">{{ blog_top.title }}</a></li>
    {% endfor %}

</ul>
<br>
<br>
<br>
<h3>Tags all</h3>
{% for tag in tags %}
<span><a href="{% url 'blog_tags' tag.slug %}">{{ tag.name }}</a></span>
{% endfor %}

{% endblock %}


